:root {
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 20px;
}

.ListOfGifs {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr)); 
  grid-gap: var(--gridList-gap);
  margin: 0 100px;
}

@media screen and (max-width: 37.5rem) {
  .ListOfGifs {
    margin: 0 20px;
  }
  :root {
    --gridList-column: 180px;
    --gridList-rows: 200px;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --gridList-column: 300px;
    --gridList-rows: 210px;
  }
}