ul {
  list-style-type: none;
  padding-left: 1rem;
}

ul li {
  margin-bottom: 0.5rem;
}

.Category-link {
  color: black;
  font-size: 1rem;
  transition: color ease-in 0.1s;
}

.Category-link:hover {
  color: #8c55a2;
}

@media screen and (max-width: 37.5rem) {
  ul {
    padding: 0.6rem;
  }

  .Category-link {
    font-size: 1rem;
  }
}