.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding: 16px;
  width: 100vw;
  position: relative;
  text-align: left;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}

.App-wrapper {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
	padding: 0 0.5em;
}

.App-main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
  height: 100%;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
  position: sticky;
}

.App-detail {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.Search-form {
  display: flex;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 0 10%;
  background-color: whitesmoke;
}

.Search-select {
  max-width: 180px;
  margin-right: 10px;
}

@media screen and (max-width: 37.5rem) {
  .App-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .Search-form {
    padding: 0;
  }
}