.App {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
  cursor: pointer;
}

.App-main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
  gap: 20px;
}

.App-detail {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}


@media screen and (max-width: 37.5rem) {
  .App-main {
    display: flex;
    flex-direction: column-reverse;
  }
}